*{
    font-family: "Motiva Sans", Sans-serif;
}

body {
    margin: 0px;
}

header{
    background: #171717;
    height: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul{
    display: flex;
    gap: 72px;
    justify-content: center;
    align-items: center;
    vertical-align: center;
} 
ul li{
    list-style: none;
}
ul li a{
    margin: 6em auto;
    font-size: 26px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    padding: 10px;
    transition: 0.5s ease;
}

ul:hover li a{
    color: #30edf4;
}

ul:hover li a:not(:hover){
    color: white;
    opacity: 0.3;
    filter: blur(1px);
}

.section_master{
    background-image: url("../images/background.jpg");
    position: absolute;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    width: 100%;
    height: 110%;
    display: grid;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    justify-items: center; /* alinear al centro horizontalmente */
    align-items: center; /* alinear al centro verticalmente */
    grid-template-rows: 600px 450px
}

/* Destacados */
.destacados{
    grid-area: 1 / 1 / 2 / 2;
    height: 600px;
    width: 1500px;
    display: flex;
    justify-content: space-evenly; /* Centrado en eje X */ 
    align-items: center; /* Centrado en eje Y */
}

.item{
    width: 375px;
    height: 450px;
}

.destacados .item img{   
    width: 375px;
    height: 450px;
    cursor: pointer;
    transition: 1s;
}

.item img:hover{
    transform:scale(1.1);
    transition: 1.5s;

}

/* Offers */
.div_offers{
    grid-area: 2 / 1 / 3 / 2;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 20px;
    width: 1500px;
}

.item_offer{
    width: 276px;
    height: 186px;
}

.div_offers .item_offer img{
    width: 276px;
    height: 153px;
    cursor: pointer;
    transition: 1s;
}

.item_offer img:hover{
    transform:scale(1.1);
    transition: 1.5s;
}

.discount{
    display: flex;
    height: 27px;
    width: 273px
}

.discount .percent{
    display: flex;
    font-weight: bold;
    background-color: #A1CD44;
    color: #171717;
    border-radius: 3px;
    align-items: center;
    justify-content: center;
    height: 27px;
    width: 53px
}

.discount .price_no{
    display: flex;
    text-decoration:line-through;
    font-weight: bold;
    font-size: 14px;
    color: #848E94;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 27px;
    width: 100px;
}

.discount .price_yes{
    display: flex;
    color: white;
    font-weight: bold;
    font-size: 14px;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 27px;
    width: 100px;
}